:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --primary-text-color: #474747;
  --text-color: #777777;
  --color-form: #f4f4f4;
  --color-error: #891900;
  --page-theme-color: #ffba9d;
  --color-like: #01620b;
  --color-dislike: #a30000;
  --color-tab: #c4c4c4;
  --color-line: #dfdfdf;
}
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin social-inactive {
box-sizing: border-box;
  padding: 0 12px;
  font-size: 18px;
  color: var(--primary-text-color);
}
@mixin gray-horizontal-line{
   background: var(--color-line);
   height: 1px;
   border: none;
}
